<%= form_for current_user.relationships.
                          build(:followed_id => @turf.id) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <span class="actions" style="display:inline"><%= f.submit "Follow", :class=>"btn"  %></span>
<% end %>