<h2>Upload or change your profile picture:</h2>

<%= form_for @user, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages' %>
  <%= f.file_field :avatar %>
  <div class="actions">
    <%= f.submit "Save Avatar", :class => "btn" %>
  </div>
<% end %>


