<% if signed_in? == false%>
  <script type="text/javascript">
    window.location.href="/pages/home" // put your correct path in a string here
  </script>
<% end %>

<div class = "row-fluid centered" style="width:1500px;height:750px;">

	<div class="span6" id = "left">
	  <div class="hero-unit left userhome" id = "join" style = "overflow:auto;max-height:400px;">
			<h1 class = "user-home-header">Join</h1>
			<%= render 'turfs/joinview' %>		
	  </div>
	  <div class="hero-unit left userhome" id = "return">
			<h1 class = "user-home-header">Return</h1>
			<%= render 'turfs/returnview' %>	
	  </div>
	</div>

	<div class="span6" id = "right">		
	  	<div class="hero-unit userhome" id = "create">
			<h1 class = "user-home-header">Create</h1>
			<br/><br/>
			<%= render 'turfs/new' %>
	  	</div>

	  	<div class="hero-unit userhome" id = "search" style="padding-bottom:0px;">
			<%=render 'turfs/search'%>
	  	</div>
	</div>

</div>