


<div class="row-fluid">
  <div class="span8 hero-unit pull-left profile-units">
    <h1>You</h1>
    <div class = "name_display">
      <%= image_tag "jamessmall.jpg" , :class => "img-polaroid" %>

      First name: <strong><%= @user.firstname %></strong>
      
      Last name: <strong><%= @user.lastname %></strong>

    </div>
  </div>
  <div class="span4 hero-unit profile-units">
  <h1>Recent</h1>   
    </br>
      </br>
      Current spaces include:
      <% @relationships = Relationship.find_all_by_follower_id(@user.id)%>

      <% @relationships.each do |current| %>
        <%@turf = Turf.find_by_id(current.followed_id) %>
        <%if !@turf.name.nil? %>
          <%=render :partial => "turfs/searchview", :locals=>{:turf => @turf}%>
        <% end %>     

      <% end %>  


  </div>

</div>  