<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">
	<div class = "container" style = "width:1000px;">
	    <!-- Docs nav
	    ================================================== -->
	    <div class="row">
	      <div class="span3 bs-docs-sidebar">
	        <ul class="nav nav-list bs-docs-sidenav affix">
	          <li><a href="#what"><i class="icon-chevron-right"></i> What is Turftalk?</a></li>
	          <li><a href="#why-use"><i class="icon-chevron-right"></i> Why use Turftalk?</a></li>
	          <li><a href="#why-create"><i class="icon-chevron-right"></i> Why create a turf?</a></li>
	          <li><a href="#why-join"><i class="icon-chevron-right"></i> Why join a turf?</a></li>
	          <li><a href="#how-create"><i class="icon-chevron-right"></i> How to create a turf</a></li>
	          <li><a href="#how-join"><i class="icon-chevron-right"></i> How to join a turf</a></li>
	          <li><a href="#other"><i class="icon-chevron-right"></i> Other FAQ</a></li>
	          <li><a href="#team"><i class="icon-chevron-right"></i> About the Turftalk Team</a></li>
	        </ul>
	      </div>
	      <div class="span9 pull-right hero-unit" style = "padding-left:10px; padding-right:10px;">

	        <section id="what" style = "padding-top:60px;margin-top:-60px;">
	          <div class="about-header">
	            <h1>What is Turftalk?</h1>
	          </div>       
	          <p>
	          	On turftalk, users can create or join a "turf" that is distinguished by its location (i.e. a building or classroom). Anyone within the geographical region can join the "turf," and, once inside, users can chat, and share, comment on, and rate links with the people around them. Turftalk will hopefully prove to be fun, intuitive, and useful way to bring people who are physically close to each other together on a more social and personal level. 
	          </p> 
	        </section>

	        <section id="why-use" style = "padding-top:60px;">
	          <div class="about-header">
	            <h1>Why use Turftalk?</h1>
	          </div>          
	          <p>
          		In the past decade, we've seen an explosion of social networking that strives to connect those that are not in the same location. However, the value of connecting to those immediately around you as a means of sharing ideas and starting conversations between strangers, acquaintances, and friends cannot and should not be overlooked. For this reason, we created turftalk, a unique hyper local social media site. Again, turftalk will hopefully prove to be fun, intuitive, and useful way to bring people who are physically close to each other together on a more personal and social level.
	          </p>
	        </section>

	        <section id="why-create" style = "padding-top:60px;">
	          <div class="about-header">
	            <h1>Why create a turf?</h1>
	          </div>          
  	          <p>Creating is a turf is a great way to get the conversation started around you. Just give your turf a name, your location, and a short description and you’ll be on your way to sharing with nearby strangers, acquaintances, and friends. </p>

	        </section>

	        <section id="why-join" style = "padding-top:60px;">
	          <div class="about-header">
	            <h1>Why join a turf?</h1>
	          </div>    
	          <p>Joining turf near you is a great way to catch up on and get involved in the current conversation around you. You can also join any of your recent turfs to catch up on and continue the action in that turf. </p>                
	        </section>

	        <section id="how-create" style = "padding-top:60px;">
	          <div class="about-header">
	            <h1>How to create a turf</h1>
	          </div>          
  	          <p>Creating a turf is simple and quick. Just go to the homepage, click create, fill in the name of your, your location, and an optional short description of the turf.  You’ll be on your way to sharing with nearby strangers, acquaintances, and friends. </p>

	        </section>

	        <section id="how-join" style = "padding-top:60px;">
	          <div class="about-header">
	            <h1>How to join a turf</h1>
	          </div>    
  	          	<p>Joining a turf is easy and intuitive. Just go to the homepage, click join to see your recent turfs and the turfs near you, click view to glimpse inside of the turf, and click join button (on the upper left) once more to start chatting and sharing. You can also search for a turf by name or location on the homepage. From your search results, you can click view to glimpse inside of the turf, and click join button (on the upper left) to start chatting and sharing.</p>
      
	        </section>

	        <section id="other" style = "padding-top:60px;">
	          <div class="about-header">
	            <h1>Other FAQs</h1>
	          </div>       
  	          	<div class = "question alert-info">How many people can be in a turf?</div>
				<div class = "answer">We created turftalk so that you could connect and share with anyone around you. To stay true to that goal, there truly is no limit to the number of people who can interact within a turf—as long as the user is in the specified location. </div>
			    <div class = "question alert-info">How close is “near you”?</div>
			    <div class = "answer">Right now, turfs have a radius of around 100 meters. </div>
				<div class = "question alert-info">When am I no longer in range of the specified location?</div>
				<div class = "answer">When you're more than 100 meters from the center of a turf, you'll be automatically removed.</div>
				
			    <div class = "question alert-info">Can I join a turf if I am not in the specified location?</div>
				<div class = "answer">No, to participate in a turf, you must be within a short distance from the location of the turf itself.</div>
				<div class = "question alert-info">How do I post a link in a turf?</div>
				<div class = "answer">Copy the link you would like to share and post it in the text box under “Share” in turf.</div>
				<div class = "question alert-info">How do I rate a link in the turf?</div>
				<div class = "answer">Simply click on the up arrow or down arrow right next to the link to rate it!</div>
				<div class = "question alert-info">How do I leave a turf?</div>
				<div class = "answer">Leaving a turf is as easy as closing your browser window or going back to the homepage.  </div>

				<div class = "question alert-info">How can I create in an account?</div>
				<div class = "answer">
					<a href = "/"><strong>Sign up here!</strong></a>
				</div>

   
	        </section>

	        <section id="team" style = "padding-top:60px;">
	          <div class="about-header">
	            <h1>About the Turftalk Team</h1>
	          </div>    
      	          


		        <ul class="thumbnails">
	              <li class="span3">
	                <div class="thumbnail">
	                  <%= image_tag "james.png", :style => "width:300px;height:200px;"%>
	                  <div class="caption">
	                    <h3>James Ruben</h3>
	                    <p style = "font-size:20%;">James specializes in the business components of Turftalk. He's a veteran of social entrepreneurship, and he's excited to help people connect through Turftalk.</p>
	                  </div>
	                </div>
	              </li>
	              <li class="span3">
	                <div class="thumbnail">
	                  <%= image_tag "neel.png", :style => "width:300px;height:200px;"%>
	                  <div class="caption">
	                    <h3>Neel Patel</h3>
	                    <p style = "font-size:20%;">Neel loves coding on the beach and long walks to Chipotle. He and Nithin are the technical end of Turftalk, where they focus on making Turftalk elegant and intuitive.</p>
	                  </div>
	                </div>
	              </li>
	              <li class="span3">
	                <div class="thumbnail">
	                  <%= image_tag "nithin.png", :style => "width:300px;height:200px;"%>
	                  <div class="caption">
	                    <h3>Nithin Tumma</h3>
	                    <p style = "font-size:20%;">Nithin works on the tech side of Turftalk, along with Neel. He's equally adept at programming and playing FIFA - sometimes even at the same time.</p>
	                  </div>
	                </div>
	              </li>
	              
	            </ul>
	         <p>Turftalk was founded in 2012 by three members of the Harvard Class of 2016. Leveraging collective strengths in programming, design, leadership, and business, the trio is excited to pursue entrepreneurship, both in Turftalk and future ventures. </p>
      
	        </section>

	      </div>
	    </div>
	</div>

</body>
