<% if signed_in?%>
  <script type="text/javascript">
    window.location.href="/users"  // put your correct path in a string here
  </script>
<% end %>

    <div class="homepage">
      <div class="layer">
      </div>
    </div>

<div class=" hero-unit pull-right" id ="signinsignup" style = "padding-left:25px; margin-right:50px;width:300px; margin-bottom:auto;">  
	<%= render 'users/new' %>
</div>

</div>



