<% if signed_in?%>
  <script type="text/javascript">
    window.location.href="/users"  // put your correct path in a string here
  </script>
<% end %>

    <div class="homepage">
      <div class="layer">
      </div>
    </div>

    

	



<div class=" hero-unit pull-right" id ="signinsignup" style = "padding-left:25px;margin-top:350px; margin-right:150px;width:300px;">
	<%= render 'users/new' %>
</div>

</div>



