<h1>Map - turfs around the world!</h1>

<% url = "http://maps.googleapis.com/maps/api/staticmap?size=1200x1200&sensor=false&" %>

<% Turf.all.each do |turf| %>
	<% if turf.latitude == "0" && turf.longitude == "0" %>
		<% url += "&markers=color:green%7Clabel:#{turf.latitude}%7C#{turf.latitude},#{turf.longitude}" %>

	<% elsif url.length < 2000 %>
		<% url += "&markers=color:red%7Clabel:#{turf.latitude}%7C#{turf.latitude},#{turf.longitude}" %>
	<% end %>
<% end %>

<%= image_tag url, :class => "img-polaroid"%>