@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
  overflow-x: scroll;
  font-family:"Avenir"
}

body#homepagebackground {
  padding-top: 60px;
  
  background: url('logobackground2.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #94C5EB
}
body#homepage2background {
  padding-top: 60px;
  
  background: url('grasshills.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #94C5EB
}
body {
  padding-top: 60px;
  
  background: url('grasshills.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-opacity: 0.5;
}

.navbar{
.navbar-inner {
  background-color: #686868;
  /*background-image:none;*/
  color:#000;
}
}

.navbar .nav > li > a {
    /*color:  #FFF;*/
    /*font-size:150%;*/
    font-size:15px;
    line-height:2;
}



section {
  overflow: auto;

}


textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  font-weight:normal;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #036;
}

#signinsignup{
  padding-top:10px;
  padding-bottom:10px;
  margin-top: 15px;
  margin-bottom: 15px;
  color:#EAEAEA;
  background-color: #383838;

}

.hero-unit{
  border: 15px solid rgba(0, 0, 0, .3);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  -moz-border-radius: 15px;
  border-radius: 15px;

  

}

#signin{
  font-size:150%;  
  display:inline-block;
  width:275px;
  height:35px;
  padding-top:10px;
}

#create-form{
  font-size:150%;  
  width:650px;
  height:35px;
  padding-top:10px;
}

#turf-header{
  padding-top:0px;
  padding-bottom:5px;
  margin-right:10px;
  margin-left:10px;
  margin-bottom:10px;
}
#turfheader .h1{
  margin-bottom:0px;
  overflow:auto;
  max-width:400px;
}

#map{
  padding-top:0px;
  padding-bottom:5px;
  margin-right:10px;
  margin-left:10px;
  margin-bottom:10px;


  opacity: 0.85;
}

#postunit{
  background-color: #55b4e8;
  background-color: #B8D5E7;
  background-color: #FFF;

  opacity:0.9;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;


}

#chatunit{

  opacity:0.9;
  background-color: #FFF;


  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.post-form{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top:5px;
}

.post-input{
  margin-top:10px;
  padding-bottom:30px;
  height:70px;
  width: 95%;
}

.chat-input{

  height:20px;
  width: 80%;
}

.comment-input{

  height:20px;
  width: 95%;
}

.post-container{
  width: 100%;
  overflow:auto;
  margin-bottom:30px;
}

.chat-container{
  width: 100%;
  overflow:auto;
  margin-bottom:30px;
}

.comment-container{
  margin-left: 25px;
  margin-bottom:10px;

  padding-top:5px;
  padding-bottom:5px;
  padding-left:5px;

  width: 83%;
  border-radius: 5px;
  background-color: #A8A8A8;
  opacity:1;

  color:white;
}

.name_display{
  font-size: 1.7em;
  letter-spacing: 0px;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
}



p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* posts */

.posts {

  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #F5D280;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* chats */

.chats {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.chat-container{
  height:400px;
  width: 100%;
  overflow:auto;
}

.accordion-toggle {
  cursor: pointer;
  border: 10px; 
  border-color:#000;
  text-decoration:none;
}

/* Join and Return Buttons*/
.join-button{
  width:90%;
  margin-top:15px;
  margin-bottom:0px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  background-color: hsl(98, 48%, 81%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d9edcd", endColorstr="#c8e5b7"); background-image: -khtml-gradient(linear, left top, left bottom, from(#d9edcd), to(#c8e5b7)); background-image: -moz-linear-gradient(top, #d9edcd, #c8e5b7); background-image: -ms-linear-gradient(top, #d9edcd, #c8e5b7); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d9edcd), color-stop(100%, #c8e5b7)); background-image: -webkit-linear-gradient(top, #d9edcd, #c8e5b7); background-image: -o-linear-gradient(top, #d9edcd, #c8e5b7); background-image: linear-gradient(#d9edcd, #c8e5b7); border-color: #c8e5b7 #c8e5b7 hsl(98, 48%, 79.5%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.09); -webkit-font-smoothing: antialiased;

}
.return-button{
  width:70%;
  margin-top:15px;
  margin-bottom:0px;
  -moz-border-radius: 15px;
  border-radius: 15px;


  background-color: hsl(192, 78%, 68%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c8eef8", endColorstr="#6dd3ed");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c8eef8), to(#6dd3ed));
  background-image: -moz-linear-gradient(top, #c8eef8, #6dd3ed);
  background-image: -ms-linear-gradient(top, #c8eef8, #6dd3ed);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c8eef8), color-stop(100%, #6dd3ed));
  background-image: -webkit-linear-gradient(top, #c8eef8, #6dd3ed);
  background-image: -o-linear-gradient(top, #c8eef8, #6dd3ed);
  background-image: linear-gradient(#c8eef8, #6dd3ed);
  border-color: #6dd3ed #6dd3ed hsl(192, 78%, 63%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

.leave-button {
  width:50px;
  font-size:120%;

  height:80px;
  margin-top:15px;
  margin-bottom:0px;
  margin-left:30px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  background-color: hsl(0, 69%, 59%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eea4a4", endColorstr="#de4e4e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eea4a4), to(#de4e4e));
  background-image: -moz-linear-gradient(top, #eea4a4, #de4e4e);
  background-image: -ms-linear-gradient(top, #eea4a4, #de4e4e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eea4a4), color-stop(100%, #de4e4e));
  background-image: -webkit-linear-gradient(top, #eea4a4, #de4e4e);
  background-image: -o-linear-gradient(top, #eea4a4, #de4e4e);
  background-image: linear-gradient(#eea4a4, #de4e4e);
  border-color: #de4e4e #de4e4e hsl(0, 69%, 54%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}

/* User home page style */
.userhome{
  padding-top:15px;
  padding-bottom:15px;
  padding-left:15px;
  padding-right:15px;
  /*background-color: #78c6fa;*/
  opacity:0.9;

}

.user-home-header{
  text-align:left;
  border-bottom: 3px solid #F5D280;
}

.submit-button{
  margin-left:20%;  
  font-size:300%;
  padding-left:100px;
  padding-right:100px;
}

.search-field{
  width:500px;
  font-size:200%;
  margin-left:0px;
  margin-right:0px;
}

.search-button{
  margin-bottom:10px;
  margin-left:0px;
}

#create-form{
  font-size:2em;
}

.about-button{
  font-size:200%;
  width:1000px;
  margin-top:20px;
  padding-left:50px;
  text-align:left;
}

.question{

  margin-top:10px;

  padding-left:10px;
  padding-right:10px;

  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, .3);

  font-style:italic;
  font-weight:bold;

  font-size: 1.1em;
  line-height: 1.7em;

}

.answer{
  margin-left:50px;
  margin-top:10px;

  padding-left:10px;
  padding-right:10px;

  font-size: 1.1em;
  line-height: 1.7em;

}

.about-header{
  margin-top:-15px;
  margin-bottom:10px;
  text-align:left;
  border-bottom: 3px solid #F5D280;
}

.text:focus {
    border: 50px solid #07c;
    box-shadow: 0 0 30px #07c;
}

.profile-units{
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
}

.unfollow-button{
  font-size:200%;
  width:100px;
  height:50px;
  background-color:#F5D280; 
  color:#333333;
  margin-bottom:2px;
  padding-bottom:10px;

}

.alert, .error, .notice, .success { padding:.8em 0; margin:0 0 2px 0; border:2px solid #ddd; font-size:1.6em; text-align:left;padding-left:25px;opacity:0.8;padding-bottom:5px;padding-top:5px;margin-bottom:10px;}

.error { background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4; }
.notice { background:#FFF6BF;color:#514721;border-color:#FFD324; }
.success { background:#DDFCD5;color:#000;border-color:#44A815; }
.alert { background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4; }

.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.alert a {color:#8a1f11;}

.flash, .error, .notice, .success { padding:.8em 0; margin:0 0 2px 0; border:2px solid #ddd; font-size:1.6em; text-align:left;padding-left:25px;opacity:0.8;padding-bottom:5px;padding-top:5px;margin-bottom:10px;}

.error { background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4; }
.notice { background:#FFF6BF;color:#514721;border-color:#FFD324; }
.success { background:#DDFCD5;color:#000;border-color:#44A815; }
.alert { background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4; }

.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.alert a {color:#8a1f11;}


#side-tabs a.support {
  background: url('feedback2.png');
  left: -15px;
  top: 250px;
  height: 110px;
  width: 58px;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 9999;
  display:block;
}

.bs-docs-sidenav {
  width: 228px;
  margin: 20px -20px;
  padding: 0;
  background-color: #eee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);

  border: 15px solid rgba(0, 0, 0, .3);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  -moz-border-radius: 15px;
  border-radius: 15px;

}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);  
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #fff;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
