<footer class="footer">
  <div style = "color:#FFF;size:150%;">
  	<% if url_for(:only_path => true) == "/"%>
    	Developed by James Ruben, Nithin Tumma, and Neel Patel. Logo by Susan Bin.    
	<% else %>
		Developed by James Ruben, Nithin Tumma, and Neel Patel.   
	<% end %>
  </div>
</footer>